.container {
    display: flex;
    
    
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../../assets/buddhahike.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 99.14vw;
    /* background-color: black; */
}

.form-control {
    display: flex;
    margin: 15px;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 3vh;
    background-image: linear-gradient(45deg, rgba(126, 107, 119, 0.75), rgba(14, 53, 5, 0.75));
    border: solid 3px var(--verydarkblue);
    border-radius: 10px;
    text-align: center;
    color: black;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, rgba(126, 107, 119, 0.75), rgba(14, 53, 5, 0.75));
    width: 20vw;
}

.btn:hover {
    background-image: linear-gradient(45deg, rgba(0,0,0,0.5), rgba(255,255,255,0.5));
}

::placeholder {
    color: black
}