.navbar {
    background: rgba(126, 107, 119, 0.75); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar h1 {
    margin-left: 15px;
}

.nav-link {
    list-style: none;
    display: inline-flex;
    margin-right: 25px;
}

.nav-link a {
    text-decoration: none;
    color: black;
}

.nav-link:hover {
    background:rgba(130, 100, 100, 0.75);
}